@page "/productovendido/new"
<h3>Create Prdoucto Vendido</h3>

<ProductoVendidoFrom ProductoVendido="NuevoProductoVendido" />

@code {
    private ProductoVendido NuevoProductoVendido = new ProductoVendido();
}